.idea/
*.iws
*.iml
*.ipr

cmake-build-*/
build/
out/
x64/
x86/
Win32/
Debug/
Release/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
compile_commands.json
*.cmake

*~
*.bak
*.swp
*.swo
*.orig

*.log
*.dmp
*.stackdump

*.a
*.so
*.dylib
*.lib
*.dll

*.exe
*.out
*.app

conanbuildinfo.*
conaninfo.txt
.vcpkg-root

*.pdb
*.idb
*.ilk